<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Vote Calendar</a>
      </div>
    </div><!-- /.container -->
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="instructions">
        <h1>Vote Calendar</h1>
        <h3>Enter a zip code in the search field below to find that locations elected officials.</h3>
      </div>
      <location-form></location-form>
    </div>
  </div>
</div>

<footer></footer>