h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}


/* Navbar */

.navbar-header {
    float: left;
}

.navbar-form {
    border: none;
    margin: 0;
    text-align: center;
}

.navbar-form .form-group {
    width: 230px;
    padding: 10px 0;
}

.navbar-form .form-group input {
    float: left;
    width: 150px;
}

.navbar-form .form-group button {
    float: right;
    width: 75px;
}


/* Homepage */

.instructions {
    text-align: center;
}

.instructions h1 {
    font-size: 80px;
}

.instructions h3 {
    max-width: 475px;
    margin: 0 auto;
}
